
    body,
    h1,
    h2,
    h3,
    h4 {
        font-family: Tahoma, Geneva, sans-serif;
    }

    h1 {
        font-size: 40px;
        color: rgb(240, 239, 191);
    }

    p,
    g {
        font-size: 30px;
    }

    h2,
    h3,
    h4 {
        font-size: 40px;
    }

    .video {
        text-align: center;
    }

    .sidebar {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 16px;
    }

    .sidebar a {
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        font-size: 27px;
        color: #818181;
        display: block;
    }

    .sidebar a:hover {
        color: #f1f1f1;
    }

    .main {
        margin-left: 160px;
        /* Same as the width of the sidenav */
        padding: 0px 10px;
    }

    @media screen and (max-height: 450px) {
        .sidebar {
            padding-top: 15px;
        }

        .sidebar a {
            font-size: 18px;
        }
    }

    b{
        color:burlywood;
        font-style: italic;
        font-weight: lighter;
        font-size: 40px;
        text-align: center;

    }